.cell {
  height: 50px;
  width: 50px;
  border-width: 1px;
  border-color: black;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}
.differentColorCell {
  height: 50px;
  width: 50px;
  border-width: 1px;
  border-color: black;
  background-color: grey;
  align-items: center;
  justify-content: center;
  display: flex;
}
