.baseCell {
  height: 50px;
  width: 50px;
  border-width: 1px;
  border-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cell {
  background-color: white;
}
.differentColorCell {
  background-color: grey;
}
.selectedCell {
  background-color: blue;
}
