.baseCell {
  height: 50px;
  width: 50px;
  border-width: 1px;
  border-color: black;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}
.differentColorCell {
  background-color: grey;
}
.selectedCell {
  background-color: blue;
  height: 25px;
  width: 25px;
}
.snakeHead {
  background-color: blue;
  height: 40px;
  width: 40px;
}
